.main{
    background-image: url(https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjU0NmJhdGNoMy1teW50LTM0LWJhZGdld2F0ZXJjb2xvcl8xLmpwZw.jpg);
}
.main h2{
    text-align: center;
    padding: 20px;
    font-size: 30px;
}
.card{
    margin: auto;
    border-radius: 20px;
    border: 5px solid goldenrod;
}
.card-body{
    background-color: white;
    padding :5px;
    border-radius: 20px;
}
.card-img-top{
    border-radius: 20px;
}